h1, h3 {
    color: #894218;
    margin-top: 1rem;
    text-align: center;
    font-family: 'Cardo'
}

h5, h6, p, a, .location {
    color: #894218;
    text-align: center;
}

p.map {
    #margin-bottom: 0.3rem;
}

.map a {
    background-color: #FFE5B3;
    color: purple;
    padding: 0.3rem 0.5rem 0.3rem;
    text-decoration: None;
}

.map a:hover {
    background-color: #894218;
    color: #6ABFA6;
}

.navbar {
    background-color: #FFE5B3;
}

.navbar-brand {
    color: #A24D1B;
    margin-left: 1rem;
}

a.nav-link {
    color: #A24D1B;
    margin-left: 1rem;;
}

.ml-auto {
    margin-left: 9rem;
}

button.navbar-toggler {
    border: 0.1rem solid #894218;
}

span.navbar-toggler-icon {
    #border: 0.1rem solid #894218;
}

label {
    color: #894218;
}

.form-control {
    border: 0.1rem solid #CC8700;
    color: #894218;
}

.form-control:hover {
    border: 0.1rem solid #894218;
    color: #894218;
}

button.btn {
    background-color: #894218;
    border: #FFE5B3;
}

button.btn:hover {
    background-color: #894218;
}

a {
    text-decoration: None;
}

a.api  {
    color: magenta;
}

a.api:hover {
    color: #6ABFA6;
    text-decoration: None;
}

h5.error-api-key {
    color: red;
    text-decoration: None;
}

.container-margin {
    margin-top: 45px;
    margin-bottom: 37px;
}

.d-grid, .form-add {
    margin-top: 19px;
    margin-bottom: 19px;
    padding: 1rem;
}

.form-group, .form-check {
    margin: 1rem;
}

.img-thumbnail {
  width: 271px; /* Adjust the width as needed */
  height: 199px; /* Adjust the height as needed */
  object-fit: cover; /* This property ensures the image scales while preserving its aspect ratio */
}

@media (max-width: 767.98px) { /* Styles for small and extra-small devices */
    .img-thumbnail {
      width: 100%; /* Full width on mobile */
      height: auto; /* Auto height on mobile */
    }
  }

.detail-img {
  width: 505px; /* Adjust the width as needed */
  height: 397px; /* Adjust the height as needed */
  object-fit: cover; /* This property ensures the image scales while preserving its aspect ratio */
}

.fa-inverse {
    background-color: #797CFF;
    border-radius: 55%;
    color: #AEFAFC;
}

.fa-inverse:hover {
    width: 3.7rem;
}

.fas {
    color: transparent !important;
}

.copyright {
    color: #1E1DDA;
}
