{% include 'header.html' %}

<div class="container mt-5">
    <h3>Add A New Cafe To The Database</h3>

    <form class="form-add" action="{{ url_for('add_new_cafe') }}" method="post">
        {{ form.csrf_token }} {# Add the CSRF token here #}
        {% if error_message %}  {# Update the variable name here #}
        <div class="alert alert-danger">
          {{ error_message }}  {# Update the variable name here #}
        </div>
        {% endif %}

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="map_url">Map URL:</label>
            <input type="text" class="form-control" id="map_url" name="map_url" required>
        </div>

        <div class="form-group">
            <label for="img_url">Image URL:</label>
            <input type="text" class="form-control" id="img_url" name="img_url" required>
        </div>

        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" id="location" name="loc" required>
        </div>

        <div class="form-group">
            <label for="seats">Seats:</label>
            <input type="text" class="form-control" id="seats" name="seats" required>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="has_toilet" name="toilet">
            <label class="form-check-label" for="has_toilet">Has Toilet</label>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="has_wifi" name="wifi">
            <label class="form-check-label" for="has_wifi">Has WiFi</label>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="has_sockets" name="sockets">
            <label class="form-check-label" for="has_sockets">Has Sockets</label>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="can_take_calls" name="calls">
            <label class="form-check-label" for="can_take_calls">Can Take Calls</label>
        </div>

        <div class="form-group">
            <label for="coffee_price">Coffee Price:</label>
            <input type="text" class="form-control" id="coffee_price" name="coffee_price">
        </div>

        <div class="d-grid gap-2 col-12 mx-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>

{% include 'footer.html' %}
