{% include 'header.html' %}

    <div class="container img">
        <div class="row">
          {% for cafe in cafes %}
            <div class="col-md-4 d-flex flex-column align-items-center container-margin">
                <!-- Link to the café detail page using the cafe id -->
                <h5>{{ cafe.name }}</h5>
                <a href="/cafe/{{ cafe.id }}">
                    <img src="{{ cafe.img_url }}" class="img-thumbnail" alt="Cafe Image">
                </a>
                <p class="location">Location: {{ cafe.location }}</p>
                <!-- Add other information about the café here if needed -->
            </div>
          {% endfor %}
        </div>
    </div>

{% include 'footer.html' %}
