{% include 'header.html' %}

<div class="container mt-5">
    <h3 class="mb-4">Delete Cafes by ID</h3>
    <form action="{{ url_for('delete_cafe') }}" method="post">
        {{ form.csrf_token }} {# Add the CSRF token here #}
        <div class="form-group">
            <label for="id">Enter Cafe's ID:</label>
            <input type="text" class="form-control" id="id" name="id" required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Delete Cafe</button>
        </div>
    </form>
</div>

{% include 'footer.html' %}
