{% include 'header.html' %}

    <div class="container-fluid text-center">

        <h5>{{ random_cafe.name }}</h5>
        <img src="{{random_cafe.img_url}}" class="img-thumbnail detail-img rounded mx-auto d-block"  alt="Cafe Image">
        <p>Cafe id: {{ random_cafe.id }}</p>
        <p>Location: {{ random_cafe.location }}</p>
        <p>Cafe map url: <a href="{{ random_cafe.map_url }}" target="_blank">{{ random_cafe.map_url }}</a></p>
        <p>Cafe seats: {{ random_cafe.seats }}</p>
        <p>Café has toilet: {{ random_cafe.has_toilet }}</p>
        <p>Café has wi-fi: {{ random_cafe.has_wifi }}</p>
        <p>Cafe has sockets: {{ random_cafe.has_sockets }}</p>
        <p>Café can take calls: {{ random_cafe.can_take_calls }}</p>
        <p>Café coffee price: {{ random_cafe.coffee_price }}</p>

        <!-- Embed Google Maps using iframe -->
        <!--
        <div class="map-container">
            <iframe
                width="600"
                height="450"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="https://www.google.com/maps/embed/v1/place?key=YOUR_GOOGLE_MAPS_API_KEY&q={{ random_cafe.location }}">
            </iframe>
        </div>
        -->

    </div>

{% include 'footer.html' %}
