h1, h3 {
    color: #894218;
    margin-top: 1rem;
    text-align: center;
    text-decoration: underline;
    font-family: 'Cardo'
}

h5, h6, .location {
    color: #894218;
    text-align: center;
}

.navbar-brand {
    color: #A24D1B;
}

a.nav-link {
    color: #A24D1B;
    margin-left: 1rem;;
}

.ml-auto {
    margin-left: 9rem;
}

a {
    text-decoration: None;
}

a.api  {
    color: magenta;
}

.api:hover {
    color: green;
}

h5.error-api-key {
    color: red;
    text-decoration: None;
}

.container-margin {
    margin-top: 45px;
    margin-bottom: 37px;
}

.d-grid, .form-add {
    margin-top: 19px;
    margin-bottom: 19px;
    padding: 1rem;
}

.form-group, .form-check {
    margin: 1rem;
}

.img-thumbnail {
  width: 271px; /* Adjust the width as needed */
  height: 199px; /* Adjust the height as needed */
  object-fit: cover; /* This property ensures the image scales while preserving its aspect ratio */
}

@media (max-width: 767.98px) { /* Styles for small and extra-small devices */
    .img-thumbnail {
      width: 100%; /* Full width on mobile */
      height: auto; /* Auto height on mobile */
    }
  }

.detail-img {
  width: 505px; /* Adjust the width as needed */
  height: 397px; /* Adjust the height as needed */
  object-fit: cover; /* This property ensures the image scales while preserving its aspect ratio */
}
